html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
.page1{
height: 900px;
background: linear-gradient(to right, #000000 32%, #FFFFFF 32%, #FFFFFF 80%, #FFFFFF 80%);
}

.page1__wrapper {
  margin:auto;
  width: 80%;
}
.header {
  display: flex;
  justify-content:space-between;
  margin-bottom: 65px;
  padding: 30px 0;
  padding-left: 49px;
}
.header__elements {
  display: flex;
  justify-content:space-between;
  width: 28%;
}
.logo__text {
  font: 30px/36px montserrat-medium, arial, helvetica, sans-serif;
  color: #fff;
}
.lang__name {
  font: 20px/24px montserratmedium, arial, helvetica, sans-serif;
  color:#ffffff;
margin-right:23px;
}
.hamburger-menu {
  display: flex;
  align-items: center;
}

#menu__toggle {
  opacity: 0;
}
.menu__btn {
  display: flex;
  align-items: center;
  position: fixed;
  top: 32px;
  left: 96%;
  width: 25px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
}

.menu__btn > span::after {
  content: '';
  top: 8px;
}
.section {
padding: 99px 0 70px 56%;
}
.section__title {
  margin: 0 0 22px 0;
  font: bold 80px/82px montserrat-bold, arial, helvetica, sans-serif;
}
.section__subtitle {
  margin: 0 0 40px 0;
  font: 15px/21px montserrat-regular, arial, helvetica, sans-serif;
  width: 90%;
}
.section__button {
  display: inline-block;
  color: #000000;
  font: 13px/0px montserrat-medium, arial, helvetica, sans-serif;
  padding: 18px 44px 21px 44px;
  text-decoration: none;
  border: solid 1px black;
  cursor: pointer;
  animation: move 3s;
}
.section__button-next {
  display: inline-block;
  color: #000000;
  font: 13px/0px montserrat-medium, arial, helvetica, sans-serif;
  padding: 18px 54px 21px 53px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  animation: move 3s;

}

.section__button-next div {
    position: relative;
    width: 43px;
    height: 1px;
    background-color: #000000;
    left:190px;
    display: block;
}
.section__button-next div::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: -3px;
    right: -1px;
    border-radius: 1px;
    background-color: #000000;
    transform: rotate(45deg);
}
.section__button-next div::before {
    content: '';
    position: absolute;
    width: 8px;
    height: 1px;
    top: 3px;
    right: -1px;
    border-radius: 1px;
    background-color: #000000;
    transform: rotate(-45deg);
}

.icons{
  display: flex;
  justify-content: space-between;
  margin-right: 47%;
  padding: 49px 0;
  padding-left: 25px;
  align-items: center;
}

.social-icons {
padding: 18px 34px 21px 20px;
margin-right:13px;
display: flex;
border-radius: 50%;
list-style-type: none;
}
.bottom__scrooll{
  padding: 0 29px 39px 40px;
text-align: center;
}
.page2{
height: 900px;
background:  #FAE8E4;
}

.page2__wrapper {
  margin:auto;
  width: 91%;
}
.section2 {
padding: 160px 0 7px 62%;
}
.section2__wrapper{
padding: 50px 0 7px 10%;
background:  #FFFFFF;
}
.section2__title {
  margin: 0 0 17px 0;
  font: bold 40px/41px montserrat-bold, arial, helvetica, sans-serif;
}
.section2__title2 {
  margin: 0 0 64px 0;
  font: bold 16px/16px montserrat-bold, arial, helvetica, sans-serif;
}

.section2__subtitle {
  margin: 0 0 20px 0;
  font: 16px/21px montserrat-regular, arial, helvetica, sans-serif;
  width: 85%;
}
.color{
  margin: 0 0 46px 0;
  font: 40px/56px montserrat-bold, arial, helvetica, sans-serif;
  padding-left: 232px;
  position: relative;
}
.color__circle{
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 50%;
  opacity: .7;
}
.color__circle_gray{
background: #DEDEDE;
}
.color__circle_red{
background: #F29F9F;
left: 42px;
width: 38px;
height: 38px;
}
.color__circle_blue{
background: #A8BFF9;
left: 92px;
}
.color__circle_green{
background: #90BD8F;
left: 134px;
}
.buy{
display: flex;
margin-bottom: 35px;
}
.buy__quantity{
  display: flex;
  align-items: center;
  border: solid 1px black;
}
.buy__quantity-reduce{
    padding: 0 18px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }
.buy__quantity-increas{
padding: 0 18px;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }
.section2__button{
  margin: 0 20px;
  display: inline-block;
  color: #000000;
  font: 13px/0px montserrat-medium, arial, helvetica, sans-serif;
padding: 18px 50px 21px 50px;
text-decoration: none;
  border: solid 1px black;
  cursor: pointer;
  animation: move 3s;
}
.section2__button-next{
  display: inline-block;
  color: #000000;
  font: 13px/0px montserrat-medium, arial, helvetica, sans-serif;
  padding: 18px 34px 21px 20px;
  text-decoration: none;
  cursor: pointer;
  animation: move 3s;

  }

  .section2__button-next div {
  position: relative;
  width: 90px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  left:140px;
  display: block;
  }
  .section2__button-next div::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  top: -5px;
  right: -4px;
  background-color: #000000;
  transform: rotate(45deg);
  }
  .section2__button-next div::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  top: 5px;
  right: -4px;
  background-color: #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);

}
.page3{
height: 900px;
background: linear-gradient(to right, #EBE3D8 27%, #000000 27%, #000000 32%, #EBE3D8 8%);
}
.page3__wrapper {
  margin:auto;
  width: 80%;
}
.section3 {
  padding: 253px 0 7px 58%;
}
.section3__wrapper{
padding: 38px 0 7px 11%;
background:  #FAE8E4;
}
.section3__title {
  margin: 0 0 12px 0;
font: bold 40px/41px montserrat-bold, arial, helvetica, sans-serif;
}
.section3__title2 {
  margin: 0 0 37px 0;
font: bold 16px/16px montserrat-bold, arial, helvetica, sans-serif;
}
.section3__subtitle {
  margin: 0 0 55px 0;
  font: 15px/21px montserrat-regular, arial, helvetica, sans-serif;
  width: 60%;
}
.section3__button{
  margin: 0 20px;
  display: inline-block;
  color: #000000;
  font: 13px/0px montserrat-medium, arial, helvetica, sans-serif;
padding: 18px 50px 21px 50px;
text-decoration: none;
  border: solid 1px black;
  cursor: pointer;
  animation: move 3s;
}
.section3__button-next{
  color: #000000;
  font: 13px/0px montserrat-medium, arial, helvetica, sans-serif;
  padding: 18px 34px 21px 20px;
  text-decoration: none;
  border-radius: 4px;
  cursor: pointer;
  animation: move 3s;

  }

  .section3__button-next div {
  position: relative;
  width: 90px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  left:140px;
  display: block;
  }
  .section3__button-next div::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  top: -5px;
  right: -4px;
  background-color: #000000;
  transform: rotate(45deg);
  }
  .section3__button-next div::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 2px;
  top: 5px;
  right: -4px;
  background-color: #000000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  transform: rotate(-45deg);
  }
  .footer {
  flex-shrink: 0;

  }
}
